.DS_Store
.local
*.tfvars
.env

# Python artifacts
__pycache__/
*.py[cod]
*$py.class
.Python
env/
venv/
.venv/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# HyperLiquid Bot Specific
src/hyperliquid_python/dist/
src/hyperliquid_python/layer/
test/mock_data/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
.terraform.lock.hcl

# IDEs
.vscode/
.idea/
*.swp
*.swo